.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: inherit;
  @include fonts(14px, 500, 1.17, 0.02em);
  color: $main-text-clr;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  color: $accent-clr;
  }
}

.icon-contact {
  margin-right: 10px;
  fill:currentColor;
}


